<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-subwebview"
    version="0.0.1">

    <name>SubWebview</name>
    <author>Ryo HIKOSAKA</author>
    <license>Apache 2.0</license>
    <keywords>cordova,sub,webview</keywords>
    <repo>https://github.com/HikosakaRyo/cordova-sub-webview-plugin</repo>

    <engines>
      <engine name="cordova" version=">=5.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <js-module src="www/subwebview.js" name="subwebview">
            <clobbers target="subwebview" />
        </js-module>
    	<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
           <feature name="SubWebview">
              <param name="android-package" value="org.apache.cordova.subwebview.SubWebview"/>
            </feature>
        </config-file>

        <source-file src="src/android/SubWebview.java"
                target-dir="src/org/apache/cordova/subwebview" />
        <info>
        </info>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/subwebview.js" name="subwebview">
            <clobbers target="subwebview" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="subwebview">
                <param name="ios-package" value="Subwebview"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SubWebview.h" />
        <source-file src="src/ios/SubWebview.m" />
    </platform>
</plugin>

